* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;

}

h1 img{
   width: 25%;
   height: 25%;
}

nav ul {
    background-color: #f0c91d;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li :hover {
    background-color: black;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: grey;
}

.icon-cart {
    width: 20px;
    height: 20px;
    color: white;
}

img {
    max-width: 100%;
}

.formulario{
    padding-block: 40px;
    border-color: #f0c91d;
}
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.mapa{
    text-align: center;
    padding-block: 40px;
}

footer{
    height: 10vh;
    background-color: black;
    bottom: 0;
    margin-bottom: 0;
    font-family:'Lato';
    font-size: 18px;
    color: white;
    padding: 20px;
    display: flex;

}

.redes-sociales{
    text-align: left;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}