* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;

}

h1 img{
   width: 25%;
   height: 25%;
}

nav ul {
    background-color: #f0c91d;
    width: 100%;
    list-style-type: none;
    text-align: center;
}

nav li {
    display:inline-flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}

nav li :hover {
    background-color: black;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: grey;
}

.icon-cart {
    width: 20px;
    height: 20px;
    color: white;
}

img {
    max-width: 100%;
}


.container-items{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item :hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item :hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}
.info-product h2{
    text-align: center;
    padding: 20px;
}

main{
    margin-top: 10vh;
}

footer{
    height: 10vh;
    background-color: black;
    bottom: 0;
    margin-bottom: 0;
    font-family:'Lato';
    font-size: 18px;
    color: white;
    padding: 20px;
    display: flex;

}

.redes-sociales{
    text-align: left;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}